/* I'm using the modern-normalize library to:
 * Set system-ui as the default font
 * Remove default margin on the <body> element
 * Globally apply box-sizing: border-box
 * Ensure that form elements inherit the document’s font and text size
 */
@import 'node_modules/modern-normalize/modern-normalize.css';

/* Clear margins */
* {
    margin: 0;
}

/* Improve line height */
:root {
    line-height: 1.5;
}

/* Remove default list styling */
ol,
ul {
    list-style: none;
    padding-inline: 0;
}

/* Add responsive media elements */
img,
svg {
    display: block;
    max-inline-size: 100%;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}


/* Improve line wrapping for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/* Improve line wrapping for paragraphs */
p {
    text-wrap: pretty;
}