body {
    display: grid;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
}

a {
    color: inherit;
    text-decoration: none;
}

.sidebar {
    grid-area: sidebar;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: rgb(0, 174, 255);
    color: white;
}

.sidebar h1,
.sidebar a {
    display: grid;
    grid-template-columns: 2.5rem auto;
    align-items: center;
    gap: 1rem;
}

.sidebar h1 {
    font-size: 1.75rem;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar nav a span {
    font-size: 1.25rem;
    font-weight: bold;
}

.sidebar img {
    filter: invert(1);
    width: 1.5rem;
    height: 1.5rem;
    justify-self: center;
}

.sidebar h1 img {
    width: 2.5rem;
    height: 2.5rem;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
}

.system-bar {
    display: flex;
    justify-content: space-around;
}

form {
    flex: auto;
    max-width: 60%;
    display: grid;
    grid-template-columns: 1.25rem auto;
    align-items: center;
    gap: 1rem;
}

input {
    width: 100%;
}

.user-menu {
    flex: none; 
    display: flex;
    align-items: center;
    gap: 1rem;
}

.notification-bell img {
    height: 1.25rem;
    width: 1.25rem;
}

.action-bar {
    display: flex;
    justify-content: space-between;
}

.user-greeting {
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
}

.user-greeting img {
    width: 80px;
    height: 80px;
}

.action-bar .actions {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.action-bar .actions button {
    appearance: none;
    flex: 1;
    min-width: 0;
    display: flex;
    justify-content: center;
}

main {
    grid-area: main;
    display: grid;
    grid-template-areas:
        "projects announcements"
        "projects trending";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr;
}

.projects {
    grid-area: projects;
    display: flex;
    flex-direction: column;
}

.projects .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    /* grid-auto-rows: 1fr; */
}

.projects article {
    display: flex;
    flex-direction: column;
}

.projects article p {
    flex: 1;
}

.projects article .actions {
    display: flex;
    align-self: flex-end;
    gap: 1rem;
}

.projects article .actions>button {
    width: 2rem;
    height: 2rem;
}

.announcements {
    grid-area: announcements;
    display: flex;
    flex-direction: column;
}

.announcements article {
    display: flex;
    flex-direction: column;
}

.trending {
    grid-area: trending;
    display: flex;
    flex-direction: column;
}

.trending-users {
    display: flex;
    flex-direction: column;
}

.trending-users a {
    display: grid;
    grid-template-areas:
        "avatar username"
        "avatar bio";
    grid-template-rows: repeat(4, 1fr);
}

.trending-users img {
    grid-area: avatar;
}

.trending-users h3 {
    grid-area: username;
}

.trending-users h6 {
    grid-area: bio;
}

/* Temporary constraint for avatar images during development */
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}