body {
    display: grid;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

nav {
    display: flex;
    flex-direction: column;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
}

.system-bar {
    display: flex;
    padding: 0 6rem;
    justify-content: space-between;
}

form {
    width: 60%;
}

input {
    width: 100%;
}

.user-menu {
    display: flex;
}

.notification-bell {
    width: 3rem;
}

.action-bar {
    display: flex;
    justify-content: space-between;
}

.user-greeting {
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
}

.user-greeting img {
    width: 80px;
    height: 80px;
}

.action-bar .actions {
    display: flex;
    gap: 48px;
    align-items: center;
}

.action-bar .actions button {
    appearance: none;
    flex: 1;
    min-width: 0;
    display: flex;
    justify-content: center;
}

main {
    grid-area: main;
    display: grid;
    grid-template-areas: 
        "projects announcements"
        "projects trending";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr;
}

.projects {
    grid-area: projects;
    display: flex;
    flex-direction: column;
}

.projects .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}


/* 
Implement project article flex layout 

A project holds: 
 - project title (flex: initial)
 - project description (flex: initial)
 - action buttons (flex: initial)
*/
/* .projects article {
    display: flex;
    flex-direction: column;
} */

.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}

/* Temporary constraint for avatar images during development */
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}