body {
    display: grid;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
}

.system-bar {
    display: flex;
}

form {
    flex: 7;
}

.user-menu {
    flex: 3;
    display: flex;
}

main {
    grid-area: main;
}

/* Temporary constraint for avatar images during development */
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}